.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #0066cc;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 120px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.modal-content h2 {
    margin: 0 123px ;
    margin-bottom: 40px;
    
}

.modal-content button {
    width: 120px;
    margin-left: 54px;
    padding: 5px 10px;
}
